{% load static %}
<div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow">
    <div class="bg-gray-100 flex items-center justify-center h-40 overflow-hidden rounded-lg">
        <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
    </div>
    <div class="p-4 flex flex-col space-y-2">
        <div class="flex space-x-2">
            <span class="px-2 py-1 bg-[#2563eb] text-white text-xs rounded">{{ product.get_category_display }}</span>
            {% if product.is_featured %}
                <span class="px-2 py-1 bg-[#172554] text-white text-xs rounded">Featured</span>
            {% endif %}
        </div>
        <h2 class="text-lg font-semibold text-gray-900">{{ product.name }}</h2>
        <p class="text-sm text-gray-700">IDR {{ product.price }}</p>
        {% if product.user %}
            <p class="text-xs text-gray-500">Seller: {{ product.user.username }}</p>
        {% else %}
            <p class="text-xs text-gray-500">Seller: Anonymous</p>
        {% endif %}
        <a href="{% url 'main:show_product' product.id %}" class="text-center mt-2 bg-[#2563eb] hover:bg-[#1e40af] text-white px-4 py-2 rounded font-medium transition-colors">
            View Product
        </a>
        {% if user.is_authenticated and product.user == user %}
            <div class ="flex flex-col md:flex-row gap-2 border-gray-200">
                <a href="{% url 'main:delete_product' product.id %}" class="bg-red-600 text-white flex-1 order-2 md:order-1 px-4 py-2 border border-gray-300 text-gray-700 rounded-md font-medium hover:bg-red-700 transition-colors text-center">
                    Delete
                </a>
                <a href="{% url 'main:edit_product' product.id %}"" class="flex-1 text-center order-1 md:order-2 bg-[#2563eb] text-white px-4 py-2 rounded-md font-medium hover:bg-[#1e40af] transition-colors">
                    Edit Product
                </a>
            </div>
        {% endif %}
    </div>
</div>